body {
    margin: 0;
    
    background-color: var(--primary-color);
    
    font-family: 'PT Sans', 
    sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: var(--secondary-color); 
    -webkit-font-smoothing:antialiased;
    -noz-osx-font-smoothing:grayscale;
   
}



body.no-scroll {
    overflow: hidden;
}




*,
*:before,
*:after {
    box-sizing: border-box;
}

:root{
    --primary-color: #fff;
    --secondary-color: #585858;
    --third-color: #FF7A00;
    --fourth-color: #379CFA;
    --fifth-color: #fff;
    --sixth-color: linear-gradient(to right,#E308B3, #EA0000);
}


.dark-theme{
    --primary-color: #585858;
    --secondary-color: #D0D0D0;
    --third-color: #DD6D06;
    --fourth-color: #004E97;
    --fifth-color: #D0D0D0;
    --sixth-color: linear-gradient(to right,#8B006D, #A80000)
    
}

#icon{
    cursor: pointer;
}


h1,h2,h3,h4,h5,h6{
    margin: 0;
}
p {
    margin: 0 0 10px;
}
ul, ol {
    margin: 0;
    padding: 0;
}



.page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}


/* стилизация шапки*/
.header {
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
    transition: background .2s linear;
    
}

.header--dark{
    background-color: rgba(0,0,0,.9)
}

.dark__header{
        display: flex;
    }
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    
}

.nav{

    height: 100%;
    display: flex;
    padding: 10px;
    font-size: 15px;
    
}


.nav__link {
    display: flex;
    align-items: center;
    padding: 0 15px;
    color: #fff;
    text-decoration: none;
    transition: background .2s linear;
    
}



.nav__link:not(.active):hover{
    text-decoration: underline;
}

.nav__link.active {
    background-color: var(--third-color);
}

.burger{
    padding: 0;
    background: none;
    border: 0;
    display: none;
}

.burger:focus{
    outline: none;
    cursor: pointer;
}

.dark__mini{
    display: block;
    display: flex;
}


.intro{
    background: #000 url("../images/ajax-loader.gif") no-repeat center;
    margin-bottom: 30px;
    position: relative;
    background-size: cover;
    
    
    
}


.intro__slider{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.intro__slider.slick-initialized{
    display: block;
}

.intro__slider .slick-list,
.intro__slider .slick-track{
    height: 100%;
}


.intro__slider-photo{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;


    
}

.intro__inner{
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    z-index: 2;

    
}


.intro__text{
    margin-bottom: 25px;
    text-align: right;

}


.intro__slider-arrows{
    position: absolute;
    bottom: 30px;
    left: 430px;
}

.intro__slider-btn-next{
   
    border-style: solid;
    border-width: 12.5px 0 12.5px 30px;
    border-color: transparent transparent transparent #ff7b00;
}


.intro__slider-btn{
    width: 0;
    height: 0;
    padding: 0;
    background: none;
    color: transparent;
    font-size: 0;
    margin: 0 5px;
}


.intro__slider-btn:focus{
    outline: none;
}
.intro__slider-btn-prev{
    
    border-style: solid;
    border-width: 12.5px 30px 12.5px 0;
    border-color: transparent #ff7b00 transparent transparent;

}

.intro__countries{
    height: 200px;
    font-size: 40px;
    color: var(--fourth-color);
    font-weight: 700;
    margin-bottom: 35px;
}

.intro__title{
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 110px;
    line-height: 110px;
    color: var(--third-color) ;
    font-weight: 700;
}
.intro__title-amp{
    position: absolute;
    font-size: 170px;
    font-weight: 900;
    color: rgba(255,144,62,0.4);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


.intro--blog{
    height: 350px;
    background: #000 url("../images/logotruck.jpg") no-repeat center/cover;
    
}
.intro--text{
    height: 350px;
    background: #000 url("../images/logo3.jpg") no-repeat center/cover;
    
}

.weather{
    margin-top: 100px;
    float: right;
}



.request-form{
    width: 100%;
    max-width: 400px;
    background-color: var(--third-color);
    overflow: hidden;
    border-radius: 20px;
    
}

.request__form--intro{
    position: relative;
    bottom: -30px;
}
.request-form__header{
    padding: 20px 30px;
    background-color: var(--fourth-color);
}

.request-form__title{
    margin-bottom: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: var(--fifth-color);
}
.request-form__text{
    font-size: 15px;
    color: var(--fifth-color);
    line-height: 1.4;
}
.request-form__content{
    padding: 30px 30px;
}

.form__group{
    margin-bottom: 25px;
    
}

.input{
    display:block;
    width: 100%;
    padding-bottom: 12px;
    padding-left: 40px;
    background: none;
    border: none;
    border-bottom: 3px solid;
    border-bottom-color: rgba(255,255,255,0.2);
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: var(--fifth-color);
    transition: border-color .1s linear;
}


.input::placeholder{
    color: var(--fifth-color);
}

.input:focus {
    outline: none;
    border-bottom-color: var(--fifth-color);
}
.input--user{
    background: url("../images/user.svg") left 8px top 4px no-repeat;
}
.input--phone{
    background: url("../images/phone.svg") left 8px top 4px no-repeat;
}
.input--email{
    background: url("../images/email.svg") left 8px top 7px no-repeat;
}





.input--black{
    display:block;
    width: 100%;
    padding-bottom: 12px;
    padding-left: 40px;
    background: none;
    border: none;
    border-bottom: 3px solid;
    border-bottom-color: rgba(255,255,255,0.2);
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #2C2C2C;
    transition: border-color .1s linear;
    border-bottom-color: #E8E8E8;
}
.input--black:focus{
    outline: none;
    border-bottom-color: #000;
}
.input--black::placeholder{
    color: #2C2C2C;
}
.input--user--black{
    background: url("../images/userblack.svg") left 8px top 4px no-repeat;
}
.input--phone--black{
    background: url("../images/phoneblack.svg") left 8px top 4px no-repeat;
    
}
.input--email--black{
    background: url("../images/emailblack.svg") left 8px top 7px no-repeat;
}






.btn{
    padding: 11px 20px;
    display: inline-block;
    vertical-align: top
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 1.1;
    color: var(--fifth-color);
    font-weight: 700;
    text-align: center;
    background: #333;
    border-radius: 20px;
    border: 0;
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: background .2s linear;
}
.btn:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-color: #000;
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}
.btn span {
    position: relative;
    z-index: 2;
}

.btn:hover:before {
    opacity: .15;
}
.btn--full{
    display: block;
    width: 100%;
}

.btn--block {
    display: block;
    width: 100%;
}
.btn--blue {
    background-image:var(--sixth-color);
}

.btn--shadow {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
}


.section{
    padding: 60px;
}

.section__title{
    margin-bottom: 40px;
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    line-height: 1.2;
    color: #2C2C2C;
    font-weight: 900;
    
}
.section__title span{
    color: var(--third-color);
}





.services{
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0 50px;
    background-color: var(--primary-color);
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(0,0,0,.2);
    position: relative
}

.services__item{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0 25px;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
    
}

.services__title{
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    line-height: 1.2;
    font-size: 24px;
    color: var(--third-color);
    font-weight: 900;
}
.services__text{
    font-size: 15px;
    line-height: 1.4;
    color: var(--secondary-color); 
}
.services__footer{
    margin-top: auto;
    
}

.services__link{
    display: inline-block;
    font-size: 15px;
    color: var(--third-color);
    text-decoration: none;
    transition: width .2s linear;
}

.services__link:after {
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    background-color: var(--third-color);
    transition: width .2s linear;
}
.services__link:hover{
    color: var(--third-color);
}

.services__link:hover:after{
    width: 100%;
    background-color: var(--third-color);
}

.services__main-title{
    font-family: 'Lato', sans-serif;
    font-size: 70px;
    color: rgba(255,122,0,0.35);
    position: absolute;
    bottom: 0;
    right: 30px;
    z-index: 1;
    pointer-events: none;
    bottom: 3px;
    right: 30px;
    
}

.clients{
    display: flex;
}

.clients__logo{
    width: 60%;
    
}

.clients__otz{
    width: 40%;
    
}


.clients__list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.clients__list li{
    margin-right: 50px;
    margin-bottom: 40px;
}



.otz{
    position: relative;
    height: 200px;
    background: url("../images/ajax-loader.gif") no-repeat center;
}

.otz.slick-initialized{
    height: auto;
    background: none;
}

.otz__item{
    display: none;
}
.otz .slick-dots{
    display: flex;
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: 3;
    justify-content: center;
    width: 100%;
    list-style-type: none;
}

.otz .slick-dots li{
    margin: 0 5px;
    
}

.otz .slick-dots li.slick-active button{
    background: var(--third-color);
    box-shadow: 0 0 0 5px rgba(247,122,0, .30);
    
    
}


.otz .slick-dots button {
    width: 10px;
    height: 10px;
    padding: 0;
    background: var(--secondary-color);
    border: 5px solid transparent;
    border-radius: 50%;
    color: transparent;
    font-size: 0;
    cursor: pointer;
    transition: background .4s linear, border-color .4s linear;
}

.otz .slick-dots button:focus{
    outline: none;
}

.otz__header{
    padding-top: 20px;
    position: relative;
    padding-left: 121px;
    min-height: 100px;
    margin-bottom: 30px;
    
}
.otz__photo{
    width: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
}
.otz__name{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: var(--third-color);
    font-weight: 900;
}
.otz__company{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: var(--third-color);
}
.otz__content{
    padding-left: 10px;
    font-size: 15px;
    line-height: 2;
}

.img{
    display: block;
    max-width: 100%;
    height: auto;
}


.benefits{
    display: flex;
}
.benefits__item{
    width: 50%;
    margin-bottom: 10px;
}

.benefits-list{
    list-style-type: none;
    width: 100%;
    max-width: 370px;
}
.benefits-list__item{
    margin-bottom: 10px;
    padding-left: 10px;
}
.benefits-list__title{
    margin-bottom: 10px;   
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    color: var(--third-color);
    font-weight: 900;
    line-height: 1.2;
}

.benefits-list__title::before {
    content: url('../images/okidoki.svg');
    display: inline-block;
    width: 50px;
    height: 50px;
    
}


.benefits-list__text{
    font-size: 15px;
    color: var(--secondary-color);
}

.section--grey{
    background-color: var(--primary-color);
}

.team{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team__col{
    width: 33.33333%;
    padding: 0 15px;
}
.team__contacts{
    list-style-type: none;
}
.team__photo{
    box-shadow: 10px 5px 13px rgba(0,0,0,0.3);
    margin-bottom: 20px;
}
.team__name{
    font-family: 'Lato', sans-serif;
    margin-bottom: 5px;
    line-height: 1.2;
    font-size: 21px;
    color: var(--third-color);
    font-weight: 900;
}
.team__prof{
    font-size: 15px;
    color: var(--secondary-color);
    margin-bottom: 15px;
}
.team__contacts a{
    color: var(--secondary-color);
    text-decoration: none;
}

.team__contacts li{
    margin-bottom: 9px;
}
.team__contacts a:hover{
    text-decoration: underline;
}

.team__contactsi{
    width: 16px;
    margin-right: 7px;
}

.mission{
    background-color: var(--primary-color);
    position: relative;
    margin-top: -20px;
    padding: 60px 30px;
    border-radius: 20px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.2);
    text-align: center;
    margin-bottom: 30px;
}

.mission::before{
    content: "";
    display: block;
    width: 41.66666%;
    height: 2px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.mission::before{
    background-color:var(--fourth-color);
    right: 50%;
}
.mission::after{
    content: "";
    display: block;
    width: 41.66666%;
    height: 2px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}
.mission::after{
    background-color: var(--third-color);
    left: 50%;
}
.mission__title{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: var(--third-color);
}
.mission__podtitle{
    font-size: 21px;
    color: var(--secondary-color);
}
.text__center{
    text-align: center;
}
.mission__title1{
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 90px;
    line-height: 1;
    font-weight: 900;
    color: rgba(255,122,0,0.35);
}

.news{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.news--col{
    flex-direction: column;
}
.news--col,
.news__item{
    max-width: none;
    margin-bottom: 30px;
}
.news__item{
    width:100%;
    max-width: 500px;
    margin-bottom: 20px;

}

.news__title{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #2C2C2C;
    margin-bottom: 20px;
}
.news__title a{
    color: var(--third-color);
    text-decoration: none;
}
.news__title a:hover{
    text-decoration: underline;
}

.news__text{
    margin-bottom: 15px;
    font-size: 15px;
    color: var(--secondary-color);
}

.news__date{
    display: block;
    font-size: 12px;
    color: var(--secondary-color);
    margin-bottom: 30px;
}



.footer{
    background-color: #6f6f6f;
    padding: 40px 0;
    text-align: center;
    margin-top: auto;
}

.footer__contacts{
    margin: 25px 0;
    text-align: center;
    color: var(--fifth-color);
    font-weight: 700;
    font-size: 12px;
}
.footer__contacts a{
    color: var(--third-color);
    text-decoration: none;
}

.footer__contacts a:hover{
    text-decoration: underline;
}

.footer__contacts p{
    margin: 0 0 5px;
}

.footer__nav a{
    margin: 0 5px;
    color: var(--third-color);
    text-decoration: none;
}

.footer__nav a:hover {
    text-decoration: underline;
}

.vidget{
    text-align: center;
    flex-wrap: wrap;
    margin-top: 5px;
    padding: 15px;
}
.valuta{
    max-width: 50%;
}

.dark__logo{
    text-decoration: none;
    outline: none;
    border: none;
    background: none;
    
}
.dark__logo{
    object-fit: cover;
    object-position: left;
}

.karta{

    margin-top: 15px;
}







.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.9);
    padding: 30px 15px;
    overflow: auto;
}
.modal.show{
    display: block;
}
.modal__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}


.modal__content{
    width: 100%;
    max-width: 400px;
    padding: 25px;
    background-color: var(--primary-color);
    position: relative;
    transform: scale(0.5);
    opacity: 0;
    
    transition: transform .4s ease-out, opacity .4s ease-out;
}


.modal__title{
    margin-bottom: 7px;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #FF7A00;   
    line-height: 1.2;
    text-align: center;
}

.modal__text{
    font-size: 15px;
    color: #2C2C2C;
}
.modal__header{
    margin-bottom: 25px;
    text-align: center;
}
.modal__footer{
    border-top: 1px solid #E8E8E8;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
.modal__footer--title{
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: #2C2C2C;   
}
.modal__contacts{
    font-size: 15px;
    color: #2C2C2C;
    font-style: normal;
}
.modal__contacts p{
    margin-bottom: 3px;
}
.modal__contacts a{
    color: inherit;
    text-decoration: none;
}
.modal__contacts a:hover{
    text-decoration: underline;
}

.modal__close{
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: -20px;
    right: -30px;
    z-index: 1;
    transition: transform .2s linear;
    
}
.modal__close:hover{
    transform: rotate(90deg);
}

.modal__close img{
    display: block
}

.modal__icon{
    margin-bottom: 10px;
}

.modal__close:focus{
    outline: none;
}


.main{
    display: flex;
}

.main__col{
    width: 50%;
}

.request__form--right{
    margin-left: auto;
}


.text{
    font-size: 18px;
    line-height: 1.5;
    color: var(--secondary-color);
    width: 100%;
    max-width: 890px;
    margin-bottom: 50px;
    
}

.text p{
    margin-bottom: 20px;
    font-size: 18px;
    
}


.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
    color: #FF7A00;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    
}

.text ul,
.text ol{
    list-style-type: none;
    margin-bottom: 20px;
}

.text ol{
    list-style: decimal;
    list-style-position: inside;
}


.section__title{
    color: #00A3FF;
}



@media (max-width: 1160px){
    .clients{
        flex-direction: column;
    }
    
    
    .clients__logo,
    .clients__otz{
        width: 100%;
    }
    
    .intro__title{
        font-size: 80px;
    }
    .intro__slider-arrows{
        display: none;
    }
}


@media (max-width: 1122px){
    
    .clients__list{
        justify-content: space-between;
    }
    
    .services__item{
        width: 50%;
    
    }
    
    .services__main-title{
        color: rgba(255,122,0,0.15);
        font-size: 50px;
    }
    
    .intro{
        margin-bottom: 0px;
    }
    
    .clients__list li{
        max-width: 130px;
    }
    
    .main{
        flex-direction: column;
    }
    .main__col{
        width: 100%;
    }
    
    
    .request__form--right{
        margin: 30px auto 0;
    }
    

    
    


    }



@media (max-width: 767px){
    
    

    .dark{
        display: none;
    }
    
    .dark__mini{
        display: block;
    }
    .img--logo{
        display: block;
        height: 50px;
    }
    
    .services__title{
        font-size: 19px;
    }
    
    .services__text{
        font-size: 13px;
    }
    
    .header__inner{
        height: 50px;
        padding: 10px;
    }

    .nav{
    

        height: calc(100vh - 50px);
        overflow: auto;
        padding-top: 5px;
        height: auto;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: rgba(0,0,0,.8);
    
   
        transform: translateX(100%);
        transition: transform .2s ease-out;
    }

    .nav.show {

        transform: translateX(0);
    }

    .burger{
        display: block;
    }
    
    
    
    .nav__link{
        display: block;
        padding: 10px 10px;
        text-align: right;
    }
    
    
    
    .intro__inner{
        height: auto;
        padding-top: 75px;
        padding-bottom: 25px;
        flex-direction: column;
        align-items: center;
    }
    .request__form--intro{
        position: static;
        order: 2;
    }
    
    .intro__text{
        margin-top: 0px;
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }
    
    .intro__title-amp{
        font-size: 120px;
        right: auto;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
    }
    .intro__title{
        font-size: 90px;
        
    }
    .intro__slider-arrows{
        display: none;
    }
    
    .benefits{
        flex-direction: column;
    }
    
    .benefits__col{
        width: 100%;
    }
    
    
    .benefits__item{
        width: 700px;
    }
    
    .benefits-list{
        margin-bottom: 30px;
    }
    
    .team{
        flex-direction: column;
    }
    
    .team__col{
        width: 100%;
    }
    
    .team__item{
        max-width: 370px;
        margin: 0 auto;
    }
    
    .team__contacts{
        margin-bottom: 40px;
    }
    
    .section__title{
        text-align: center;    
    }
    
    .mission__title1{
        font-size: 70px;
    }
    
    .mission{
        padding: 30px 20px;
    }
    
    .mission__title{
        font-size: 24px;
        
    }
    .mission__podtitle{
        font-size: 18px;
    }
    .news{
        flex-wrap: wrap;
        max-width: none;
        margin-bottom: 0;
    }
    }
    
    
    




















@media (max-width: 575px){
    .intro__title-amp{
        font-size: 150px;
    }
    .intro__title{
        font-size: 50px; 
        line-height: 1;
    }       
    .intro__countries{
        margin-bottom: 107px;
        font-size: 31px;
        height: 0;
        margin-top: 0;
        
    }
    
    
    .services__item{
        width: 100%;
        font-size: 15px;
    }
    
    .services__main-title{
        font-size: 29px;
        color: rgba(255,122,0,0.15);
    }
    .services__text{
        font-size: 11px;
    }
    
    .services__title{
        font-size: 15px;
    }
    
    .services{
        width: 100%;
    }
    
    
    .section{
        padding: 30px 0;
    }
    
    
    .section__title{
        font-size: 40px;
    }
    
    
    
    
    .clients__list li{
        width: 30%;
        max-width: none;
        
    }
    
    
    
    .benefits__item{
        width: 100%;
        max-width: 500px;
    }
    
    .benefits-list{
        margin-bottom: 30px;
    }
    
    .benefits-list__title{
    margin-bottom: 10px;   
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #FF7A00;
    font-weight: 900;
    line-height: 1.2;
    }

    .benefits-list__title::before {
        content: url('../images/okidokismall.svg');
        display: inline-block;
        width: 34px;
        height: 30px;

    }


    .benefits-list__text{
        font-size: 10px;
        color: var(--secondary-color);
    }
    
    .otz__name{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #FF7A00;
    font-weight: 900;
    }
    .otz__company{
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        color: #FF7A00;
    }
    .otz__content{
    padding-left: 10px;
    font-size: 10px;
    line-height: 2;
    }
    
    .team__name {
        font-size: 17px;
    
    }
    
    .team__prof{
        font-size: 14px;
    }
    
    .team__contacts{
        font-size: 13px;
    }
    .section__title{
        font-size: 36px;    
    }
    .mission__title1{
        font-size: 50px;
    }
    

    
    .mission__title{
        font-size: 18px;
        
    }
    .mission__podtitle{
        font-size: 12px;
    }

    
    .modal__close{
        right: 0;
        top: -30px;
    }
    }










